
	
/* 섹션 */
#section{width: 100%}
	#ssMainGrid{width: 100%; height:775px; background: url(../images/bg_main.gif);}
		/* 첫줄 */
		.ssGridSection{width: 1400px; height: 440px; margin: 0 auto;}
			/* 메인베너 */
			#ssMainBanner{width: 930px; height: 410px; overflow: hidden;}
			/* 로그인 */
			#ssLogin{width: 455px; height: 410px; margin-left:15px; background-color:#f16d6d;}
				#ssLogin input[type=radio]{display: none;}
				#ssLogin h2{text-align:center; font-size: 28px; color: #ffffff; background: url(../images/loginPerson.png) no-repeat 92px 13px; margin-top: 20px; font-weight: bold;}
				#ssLogin p.cf{z-index: 30;}
				#ssLogin>.loginTab>.whiteLine{width: 30px; height: 30px;  border-bottom: 1px solid #ffffff; margin-top: 37px;}
				#ssLogin>.loginTab>.firstone{margin-left: 37px; margin-right: -1px;}
				#ssLogin>.loginTab>.lastOne{margin-left: -1px;}
				#ssLogin label{width:121px; font-size: 20px; color:#ffffff; display: block; padding: 10px 20px; float: left; font-weight: bold; border-top:1px solid white; border-left:1px solid white; border-right:1px solid white; background-color: #cf5050; margin-top: 20px; cursor: pointer; text-align:center; border-bottom: 1px solid #ffffff;}
				#ssLogin .notRegisted{margin-left:-1px;}
				#ssLogin #loginForm{width:360px; text-align: center; margin: 0 auto;}
				#ssLogin #loginForm #userID{margin-top: 30px; background: url(../images/login_id.png) no-repeat 15px center; border:2px solid white;}
				#ssLogin #loginForm #userPWD{background: url(../images/login_pwd.png) no-repeat 15px center; border:2px solid white; border-top: 0px solid white;}
				#ssLogin #loginForm p input{width: 280px; height: 50px; background-color: #f16d6d; color: white; font-size: 20px; font-weight: bold; padding-left:45px; line-height: 50px;}
				#ssLogin #Registed:checked ~ .loginTab>.registed{background-color:#f16d6d; border-bottom: 0px solid #000000;}
				#ssLogin #Registed:checked ~ #.loginForm{display: block;}
				#ssLogin #NotRegisted:checked ~ .loginTab>.notRegisted{background-color:#f16d6d; border-bottom: 0px solid #000000;}
				#ssLogin #NotRegisted:checked ~ .nrLoginForm{display: block;}
				#ssLogin #NotRegisted:checked ~ .loginForm{display: none;}
				#ssLogin input[type=submit]{display: block; width: 330px; height:50px; background-color: white; color:#4b4b4b; font-weight: bold; font-size: 22px; margin: 0 auto; margin-top: 10px; border: 0px solid #ffffff;}
				#ssLogin>.loginForm>ul {width: 330px; margin: 20px auto;}
				#ssLogin>.loginForm>ul li{float: left;}
				#ssLogin>.loginForm>ul li.findPWD{margin-left: 23px; margin-right: 23px;}
				#ssLogin>.loginForm>ul li a{display: block; color: white; font-size: 1.1em;}
				#ssLogin>.nrLoginForm{display: none;}
				#ssLogin>.nrLoginForm>ul{margin-top: 20px;}
				#ssLogin>.nrLoginForm>ul>li>a{display: block; width: 280px; height: 50px; border-top: 2px solid #ffffff; border-left: 2px solid #ffffff; border-right: 2px solid #ffffff; margin: 0 auto; padding-left: 40px; line-height: 50px; .line-height: 50px; color: #ffffff; font-size: 1.2em; font-weight: bolder;}
				#ssLogin>.nrLoginForm>ul>li>.foreigner{border-bottom: 2px solid #ffffff; background: url(../images/lock2.png) no-repeat 15px center;}
				#ssLogin>.nrLoginForm>ul>li>.phone{background: url(../images/phone.png) no-repeat 15px center;}
				#ssLogin>.nrLoginForm>ul>li>.certificate{background: url(../images/key.png) no-repeat 15px center;}
				#ssLogin>.nrLoginForm>ul>li>.I-PIN{background: url(../images/lock.png) no-repeat 15px center;}
				#ssLogin>.nrLoginForm>ul>li{background: url(../images/login_arrow_right.png) no-repeat 362px center;}
		
		/* 두번째 그리드 */
		.ssSecondGrid{width: 1400px; height: 218px; margin: 0 auto; margin-top: 20px; color: white;}
			.ssSecondGrid>div{width:456px; height: 200px;}
			.ssSecondGrid h2{font-weight: bold; font-size: 25px; margin-top: 20px;}
			.listedSection1{background-color:#2aa8a9;}
				.listedSectionLeft a{display: block; padding: 35px 0px; text-align: center; color: white; font-weight: bold; border: 1px solid white; border-radius: 7px; margin-top:15px; transition: background-color 0.4s;}
				.listedSectionLeft{width: 150px; height: 200px; margin-left:40px;}
				.listedSectionRight{float: right;}
				.listedSectionRight ul{margin-top: 42px; margin-right: 60px;}
				.listedSectionRight ul li a{display: block; padding: 7px 50px; color: white; font-weight: bold;border: 1px solid white; border-radius: 25px; margin-bottom: 5px; text-align: center; transition: background-color 0.4s;}
			.listedSection2{margin-left:15px; margin-right: 15px; background-color:#f1d242; color:#2d1212;}
				.listedSection2 h2{margin-left: 20px;}
				.listedSection2 ul{margin-left: 20px; margin-top: 20px;}
				.listedSection2 ul li{float: left; margin-right: 10px; margin-bottom: 10px;}
				.listedSection2 ul li a{display: block; width:200px; height: 40px; text-align: center; line-height: 40px; color: #2d1212; font-weight: bold; border: 1px solid #d4ac24; border-radius: 25px; transition: background-color 0.4s;}
			.listedSection3{background: url(../images/icon_ctbox03.png) no-repeat 300px 80px; background-color:#729aeb;}
				.listedSection3 dl{margin-top: 20px; margin-left: 37px;}
				.listedSection3 dl dt{font-weight: bold; font-size: 25px; color: white; margin-bottom: 10px;}
				.listedSection3 dl dd a{display: block; padding: 5px; color: white; font-weight: bold; letter-spacing: -2px;}
				
				/* 호버 */
				.listedSection1 div a:hover{background-color:#e0f0f0; color: #2aa8a9; }
				.listedSection2 ul li a:hover{background-color: #fff2b4;}
		
		/* 세번째 그리드 */
		.ssThirdGrid{width: 1400px; height: 90px; margin: 0 auto;}
		.ssThirdGrid>div{width: 456px; height: 80px;}
			.ssThirdGrid>.callCenter1{background-color: #079ad8;}
			.ssThirdGrid>.callCenter1 h3 a{display: block; padding: 7px; color: white; font-weight: bold; font-size:33px; text-align: center; margin-top: 10px; letter-spacing: -1px;}
			.ssThirdGrid>.callCenter2{background-color: #3570c0; margin-left: 15px; margin-right: 15px;}
			.ssThirdGrid>.callCenter2 h3 a{display: block; padding: 7px; color: white; font-weight: bold; font-size:33px; text-align: center; margin-top: 10px;letter-spacing: -1px;}
			.ssThirdGrid>.callCenter3{background-color: #1d87df;}
			.ssThirdGrid>.callCenter3 h3 a{display: block; padding: 7px; color: white; font-weight: bold; font-size:33px; text-align: center; margin-top: 10px;letter-spacing: -1px;}
			.ssThirdGrid>.callCenter3 h3 a span{font-size: 18px; vertical-align:top;}
			
			/* 호버 */
			.ssThirdGrid div a:hover{color: #d4eaf5;}

	#ssListedSection{width: 100%; height: 500px; /* background-color:#f6f9fc; */}
	.ssNoticeLine>img{margin-top: 23px;}
	.ssListedSectionGrid{width:1400px; margin: 20px auto;}
		/* 공지사항 */
	.ssNoticeLineBack{width:100%; background-color: white; border-bottom: 1px solid #ced1d3;}
		.ssNoticeLine{width: 1400px; height: 80px; margin: 0 auto; }
		.ssNoticeLine>h2{font-size: 26px; font-weight: bold; color:#555555; line-height: 80px; margin-left: 15px;}
		.ssNoticeLine>h2:after{content: ''; width: 1px; height: 25px; background-color: #666666; float:right; margin-top: 28px; margin-left: 33px;}
		.ssNoticeLine>a{display: block; padding: 10px; color:#134bbc; text-align: left; letter-spacing: -1px; font-size: 25px; font-weight: bold; line-height: 60px; margin-left: 50px;}
		.ssNoticeLine>p{float: right; margin-top: 25px;}
	
		/* 유사민원검색 */
		.ssComplaintNotice{width:470px; height: 384px;}
		.ssComplaintNotice>h2{display: block; float: left; margin-top: 12px; font-size: 28px; color: #666666; font-weight: normal; }
		.ssComplaintNotice>h2>span{font-weight: bold;}
		.ssComplaintNotice>span{display: block; float: right; margin-top: 20px; border:1px solid #666666; margin-right: 40px; width: 30px;  height: 30px; border-radius:15px; text-align: center; line-height: 25px; }
		.ssComplaintNotice>span>a{color: #565656; font-size: 1.2em;}
		.ssComplaintNotice>ul{clear:both; display: block; margin-top: 60px; .margin-top: 10px; width:360px; margin-left: 15px;}
		.ssComplaintNotice>ul li{border-bottom: 1px solid #e4e9ee; list-style-image: url(../images/dot.gif)}
		.ssComplaintNotice>ul li a{display: block; padding: 10px; color: #565656; font-size: 1.2em; letter-spacing: -1px;}
		.ssComplaintNotice>ul li a:hover{text-decoration:underline;}
		
		/* 갑질피해신고센터 */
		.ssCenterGrid{width:455px; height: 384px;}
		.topOne{width: 455px; height: 185px; border:1px solid #00a0b2; background-color: white; border-radius: 0 0 15px 15px;}
			.topOne>.overrayBossaround{display: block; width: 455px; height: 55px; color: white; font-size: 24px; font-weight: bold; text-align: center; line-height: 55px; background: url(../images/caret-arrow-up.png) no-repeat 340px 22px; background-color:#00a0b2; cursor: pointer;}
			.topOne>img{margin-top: 10px; margin-left: 10px; padding-right: 15px;}
			.topOne>p{color: #666666; margin-top: 13px; margin-bottom: 10px;}
			.topOne>.enterBossaround{color:#00a0b2; font-size: 27px;}
			.topOne>.enterBossaround span{font-weight: bold;}
		.bottomOne{width: 455px; height: 185px; border:1px solid #123aa1; background-color: white; border-radius: 15px 15px 0 0; margin-top:10px;}
			.bottomOne>img{margin-top: 10px; margin-right: 15px; padding-left: 25px;}
			.bottomOne>p{color:#666666; margin-top: 28px; margin-bottom:11px;}
			.bottomOne>.enterSafeDesk{color: #123aa1; font-size: 27px; }
			.bottomOne>a>span{font-weight:bold;}
			.bottomOne>.enterSafeDesk2{display: block; width: 455px; height: 56px; color: white; font-size: 24px; font-weight: bold; text-align: center; line-height: 55px; background: url(../images/caret-arrow-up.png) no-repeat 340px 22px; background-color:#123aa1; margin-top: 12px; .margin-top: 14px; cursor: pointer;}
			
		/* 라디오체크 컨텐츠 */
		#bossAround:checked ~ .bossAround{height: 500px;}
		#bossAround{display: none;}
		.bossAround{width: 100%; height: 0px; transition: height 0.8s; background-color: #ffffff; border-bottom: 1px solid #123aa1; border-top: 1px solid #123aa1; overflow: hidden;}
		.bossAround>.bossAroundWidth{width: 1400px; height: 500px;  margin: 0 auto; }
		.bossAroundWidth>input{display:none;}
		.bossAroundWidth>.tabDiv{width: 600px; height: 50px; margin: 0 auto; background-color: #ffffff; margin-top: 30px;}
		.bossAroundWidth>.tabDiv>label{display: block; cursor: pointer; width: 240px; height: 48px; border:1px solid #123aa1; float: left; text-align: center; line-height: 48px; .line-height: 48px; font-size: 1.6em; font-weight: bolder; color: #123aa1;}
		.bossAroundWidth>#tab1:checked ~ .tabDiv>.tabOne{border-bottom: 0px solid #ffffff;}
		.bossAroundWidth>#tab1:checked ~ .publicTab{display:block;}
		.bossAroundWidth>#tab2:checked ~ .tabDiv>.tabTwo{border-bottom: 0px solid #ffffff;}
		.bossAroundWidth>#tab2:checked ~ .civilTab{display:block;}
		.bossAroundWidth .leftOne{width: 50px; height: 48px; border-bottom: 1px solid #123aa1; float:left; margin-right: 0px;}
		.bossAroundWidth .rightOne{width: 50px; height: 48px; border-bottom: 1px solid #123aa1; float:left; margin-left: 0px;}
		
		.safe365{width: 100%; height: 0px; transition: height 0.8s; background-color: #f7f8f9; border-bottom: 1px solid #123aa1; border-top: 1px solid #123aa1; overflow: hidden;}
 		.safe365Width{width: 1400px; height: 700px;  margin: 0 auto; position: relative; .display: none;} 
		.safe365Width>.title{width: 400px; height: 100px; border-top: 2px solid #000000; border-bottom: 2px solid #000000; margin: 25px auto; text-align: center;}
		.safe365Width>.title>h3{color: #515254; font-size: 1.1em; text-align: center; margin-top: 6px;}
		.safe365Width>.title>h2{color: #0b30a2; font-size: 3em; font-weight: bolder;}
		.safe365Width>.title>h2>span{color: #1d96e9;}
		#safe:checked ~ .safe365{height: 700px;}
/* 		#safe:checked ~ .safe365>.safe365Width{height: 700px;} */
		.safe365Width>.line1>.tap1>.title1{background:url(../images/tap1.png) no-repeat left top; display: block; width: 316px; height: 56px; line-height: 41px; color: #ffffff; font-weight: bold; letter-spacing: -1px;}
		.safe365Width>.line1>.tap1{width: 404px; height:239px; margin-top: 37px; margin-left: 296px; background: url(../images/tap1_back.png) no-repeat 250px 107px; z-index: 2; position: relative;}
		.safe365Width>.line1>.tap1>p{background: url(../images/check.gif) no-repeat left top; color: #555555; padding-left: 20px; margin-top: 15px; margin-left: 15px; font-size: 0.8em;}
		.safe365Width>.line1>.tap1>p>span{color: #f51a1a;}
		.safe365Width>.line1>.tap1>a{background: url(../images/tap-arrow-right.png) no-repeat 80px center; display: block; width: 110px; height: 38px; border: 1px solid #9cbaec; border-radius: 20px;  background-color: #ffffff; margin-left: 32px; margin-top: 12px; line-height: 34px; color: #666666; font-size: 0.9em; transition: background-color 0.8s;}
		.safe365Width>.line1>.tap1>a:hover{background-color: #123aa1; border: 1px solid #123aa1; color: #ffffff;}

		.safe365Width>.line1>.tap2>.title1{background:url(../images/tap2.png) no-repeat left top; display: block; width: 316px; height: 56px; line-height: 41px; color: #ffffff; font-weight: bold; letter-spacing: -1px;}
		.safe365Width>.line1>.tap2{width: 404px; height:239px; margin-top: 37px; margin-left: 88px; background: url(../images/tap2_back.png) no-repeat 250px 107px; z-index: 2; position: relative;}
		.safe365Width>.line1>.tap2>p{background: url(../images/check.gif) no-repeat left top; color: #555555; padding-left: 20px; margin-top: 15px; margin-left: 15px; font-size: 0.8em;}
		.safe365Width>.line1>.tap2>p>span{color: #f51a1a;}
		.safe365Width>.line1>.tap2>a{background: url(../images/tap-arrow-right.png) no-repeat 80px center; display: block; width: 110px; height: 38px; border: 1px solid #9cbaec; border-radius: 20px;  background-color: #ffffff; margin-left: 32px; margin-top: 12px; line-height: 34px; color: #666666; font-size: 0.9em; transition: background-color 0.8s;}
		.safe365Width>.line1>.tap2>a:hover{background-color: #123aa1; border: 1px solid #123aa1; color: #ffffff;}
		
		.safe365Width>.line2>.tap3>.title1{background:url(../images/tap3.png) no-repeat left top; display: block; width: 316px; height: 56px; line-height: 65px; color: #ffffff; font-weight: bold; letter-spacing: -1px; margin-top: 20px;}
		.safe365Width>.line2>.tap3{width: 404px; height:239px; margin-top: 5px; margin-left: 296px; background: url(../images/tap3_back.png) no-repeat 243px 31px; z-index: 2; position: relative;}
		.safe365Width>.line2>.tap3>p{background: url(../images/check.gif) no-repeat left top; color: #555555; padding-left: 20px; margin-top: 15px; margin-left: 15px; font-size: 0.8em;}
		.safe365Width>.line2>.tap3>p>span{color: #f51a1a;}
		.safe365Width>.line2>.tap3>a{background: url(../images/tap-arrow-right.png) no-repeat 80px center; display: block; width: 110px; height: 38px; border: 1px solid #9cbaec; border-radius: 20px;  background-color: #ffffff; margin-left: 32px; margin-top: 12px; line-height: 34px; color: #666666; font-size: 0.9em; transition: background-color 0.8s;}
		.safe365Width>.line2>.tap3>a:hover{background-color: #123aa1; border: 1px solid #123aa1; color: #ffffff;}

		.safe365Width>.line2>.tap4>.title1{background:url(../images/tap4.png) no-repeat left top; display: block; width: 316px; height: 56px; line-height: 65px; color: #ffffff; font-weight: bold; letter-spacing: -1px; margin-top: 5px;}
		.safe365Width>.line2>.tap4{width: 404px; height:239px; margin-top: 5px; margin-left: 89px; background: url(../images/tap4_back.png) no-repeat 243px 31px; z-index: 2; position: relative;}
		.safe365Width>.line2>.tap4>p{background: url(../images/check.gif) no-repeat left top; color: #555555; padding-left: 20px; margin-top: 15px; margin-left: 15px; font-size: 0.8em;}
		.safe365Width>.line2>.tap4>p>span{color: #f51a1a;}
		.safe365Width>.line2>.tap4>a{background: url(../images/tap-arrow-right.png) no-repeat 80px center; display: block; width: 110px; height: 38px; border: 1px solid #9cbaec; border-radius: 20px;  background-color: #ffffff; margin-left: 32px; margin-top: 12px; line-height: 34px; color: #666666; font-size: 0.9em; transition: background-color 0.8s;}
		.safe365Width>.line2>.tap4>a:hover{background-color: #123aa1; border: 1px solid #123aa1; color: #ffffff;}
		.safe365Logo{position: absolute; z-index:0; left: 295px; top: 192px;}

		
		.publicTab{width: 1400px; height: 370px; margin: 10px auto; display: none;}
		.publicTab h3{font-size: 40px; font-weight: bolder; color: #565656;}
		.publicTab>.firstRow{width: 370px; margin-left: 160px;}
		.publicTab>.firstRow>a{display: block; width: 300px; height: 55px; border: 2px solid #719aea; border-radius: 28px; font-size: 24px; font-weight: bold; text-align: left; line-height: 55px; color: #5281de; margin-top: 9px; padding-right: 50px; letter-spacing: -1px;}
		.publicTab>.firstRow>a:hover{background-color: #f1f5fd;}
		.publicTab div>p{display: block; width: 360px; color: #666666; margin-top: 10px; font-size: 20px;}
		.publicTab>.secondRow{width: 370px;}
		.publicTab>.secondRow>a{display: block; width: 300px; height: 55px; border: 2px solid #2998cb; border-radius: 28px; font-size: 24px; font-weight: bold; text-align: left; line-height: 55px; color: #2998cb; margin-top: 9px; padding-right: 50px; letter-spacing: -1px;}
		.publicTab>.secondRow>a:hover{background-color: #e9f4fa;}
		.publicTab>.secondRow span{ color: #2998cb;}
		.publicTab>.thirdRow{width: 370px;}
		.publicTab>.thirdRow>a{display: block; width: 300px; height: 55px; border: 2px solid #56b879; border-radius: 28px; font-size: 24px; font-weight: bold; text-align: left; line-height: 55px; color: #56b879; margin-top: 9px; padding-right: 50px; letter-spacing: -1px; float: left;}
		.publicTab>.thirdRow>p{float: left;}
		.publicTab>.thirdRow>a:hover{background-color: #eef8f1;}
		.publicTab>.thirdRow span{ color: #56b879;}
		.publicTab span{ color: #719aea; font-size: 40px; font-weight: bolder;}
		
		input[type='checkbox'] {display: none;}
		.civilTab{width: 1400px; height: 370px; margin: 10px auto; display: none;}
		.civilTab h3{font-size: 40px; font-weight: bolder; color: #565656;}
		.civilTab>.firstRow{width: 370px; margin-left: 160px;}
		.civilTab>.firstRow>a{display: block; width: 300px; height: 55px; border: 2px solid #719aea; border-radius: 28px; font-size: 24px; font-weight: bold; text-align: left; line-height: 55px; color: #5281de; margin-top: 9px; padding-right: 50px; letter-spacing: -1px;}
		.civilTab>.firstRow>a:hover{background-color: #f1f5fd;}
		.civilTab div>p{display: block; width: 360px; color: #666666; margin-top: 10px; font-size: 20px;}
		.civilTab>.secondRow{width: 370px;}
		.civilTab>.secondRow>a{display: block; width: 300px; height: 55px; border: 2px solid #2998cb; border-radius: 28px; font-size: 24px; font-weight: bold; text-align: left; line-height: 55px; color: #2998cb; margin-top: 9px; padding-right: 50px; letter-spacing: -1px;}
		.civilTab>.secondRow>a:hover{background-color: #e9f4fa;}
		.civilTab>.secondRow span{ color: #2998cb;}
		.civilTab>.thirdRow{width: 370px;}
		.civilTab>.thirdRow>a{display: block; width: 300px; height: 55px; border: 2px solid #56b879; border-radius: 28px; font-size: 24px; font-weight: bold; text-align: left; line-height: 55px; color: #56b879; margin-top: 9px; padding-right: 50px; letter-spacing: -1px; float: left;}
		.civilTab>.thirdRow>p{float: left;}
		.civilTab>.thirdRow>a:hover{background-color: #eef8f1;}
		.civilTab>.thirdRow span{ color: #56b879;}
		.civilTab span{ color: #719aea; font-size: 40px; font-weight: bolder;}

		
			
		/* 나의 제안이 이렇게 반영되었어요 */
		.ssCivilAnswer{width:473px; height: 384px; margin-left: 2px; background-color: #ffffff;}
			.ssCivilAnswer h3{margin-left: 10px; margin-top: 10px; font-size:1.7em; letter-spacing: -3px; font-weight: normal;}
			.ssCivilAnswer h3 a{color:#565656;}
			.ssCivilAnswer>a.fl{margin-left: 3px; margin-top:19px;}
			.ssCivilAnswer>a.first{margin-left: 35px;}
			.ssCivilAnswer>p{margin-left: 26px; padding-top: 17px; font-size:1.2em; color: #565656; clear:both; padding-bottom: 24px; border-bottom: 1px solid #e4e9ee; }
			.ssCivilAnswer>p a{color:#565656;}
			.ssCivilAnswer>p>a:hover{text-decoration: underline;}
			.ssCivilAnswer>h4{margin-left: 20px; color: #134bbc; font-size: 1.3em; letter-spacing: -1px;}
		
	/* 하단 스크롤 */
	#ssScrollSection{width: 1396px; height: 100px; margin: 0 auto;}
	.ssScrollSectionBack{width: 100%; height: 450px; background-color: #d7e4f1;}
		.ssCivilThinks{width: 1396px; height: 100px;}
			.ssCivilThinks>a{display:block; width: 167px; margin: 0 auto; padding-top:20px;}
		.ssSideScroll{width: 1396px; height: 285px; margin: 0 auto;}
			.ssSsBanner{display: block; width: 438px; height: 265px; background-color: white; margin-right: 10px; margin-left: 10px; border-right: 2px solid #a8b2bc; border-bottom: 2px solid #a8b2bc; margin-top: -3px; transition: margin-top 0.4s; .transition: margin-top 0s; margin-top:15px; }
			.ssSsBanner:hover{margin-top:0px; .margin-top: 15px;}
			.ssSsBanner .bannerImg{width: 179px; height: 180px; border-radius: 100px; border: 1px #dddddd; overflow: hidden; margin-left: 20px; margin-top: 40px;}
			.ssSsBanner .bannerImg img{margin-left: -10px;}
			.ssSsBanner .bannerText{margin-top: 32px; margin-left: 15px;}
			.ssSsBanner .bannerText h3{font-size:23px; color: #ff2e2e; text-align: center; font-weight: bold;}
			.ssSsBanner .bannerText p{font-size:17px; color: #666666;}
			.ssSsBanner .bannerText p.bannerLogo{margin-top:25px;}
			.ssSsBanner .bannerText p.bannerLogo span{margin-right:10px; font-weight: bold; line-height: 48px;}

	

